@{
    ViewData["Title"] = "Início";
}

<div class="container">
    <div class="py-3">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="card">
        <div class="card-header">
            <span class="text-muted">Users</span>
        </div>
        <table class="table table-borderless table-hover">
            <thead class="border-bottom">
                <tr>
                    <th>Criatividade</th>
                    <th>Liderança</th>
                    <th>Individualista</th>
                    <th>Insegurança</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewData["TotalA"]</td>
                    <td>@ViewData["TotalB"]</td>
                    <td>@ViewData["TotalC"]</td>
                    <td>@ViewData["TotalD"]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
